/* .ant-menu.ant-menu-dark .ant-menu-item-selected.customclass {
  color: '#B039CC';
} */
.ant-menu-item-selected {
  color: #b039cc;
}
.active-class {
  background-color: purple;
}
.holds-iframe {
  background: url(../images/pulse-loader.gif) center center no-repeat;
  height: 100%;
}
div.flashcard-count {
  font-size: 110px;
}
div.page-header {
  font-size: 200px;
}
div.dashboard-greeting {
  font-size: 80px;
}
